body{font-family:Sans-Serif;}
/*h1,h2,h3{font-family:sans-serif;}*/
h1:before{content:counter(h1)". ";}
h1{counter-increment:h1;counter-reset:h2;}
h2:before{content:counter(h2)". ";}
h2{counter-increment:h2}
img.screenshot{display:block;}
tt{background:#eee;border:solid 1px #ccc;font:consolas,courier new,monospace .9em;padding:0px 2px;}
i{background:#eee;border:solid 1px #ccc; padding:0px 2px}
.planned{font-weight:bold; background-color:#ff9; border:solid 1px #f00;text-align:center;margin:0px 2em}