body{font-family:Sans-Serif;}
/*h1,h2,h3{font-family:sans-serif;}*/
h1:before{content:counter(h1)". ";}
h1{counter-increment:h1;counter-reset:h2;}
h2:before{content:counter(h2)". ";}
h2{counter-increment:h2}
img.screenshot{display:block;}
tt{background:#eee;border:solid 1px #999;font-family:consolas,courier new,monospace;font-size: .9em;font-weight:bold}
i{font-style:italic;background:#eee;border:solid 1px #999;}